html,
body {
	font-size: 10pt;
}

[v-cloak] {
	display: none;
}

section + section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.square {
	border: none;
	outline: none;
	padding: 1px;
	text-align: center;
	font-family: Arial;
	position: absolute;
}

.ghost {
	display: none;
	position: absolute;
	opacity: 0.75;
	pointer-events: none;
}

#S {
	width: 210px;
	height: 210px;
	position: relative;
	border: 1px solid black;
}

td {
	vertical-align: top;
}

.w-unset {
	width: unset;
	display: inline-block;
}

.btn {
	margin-bottom: 5px;
}

input[type=checkbox],
label[for] {
	cursor: pointer;
}

.nav-tabs {
	--bs-nav-link-color: unset;
	--bs-nav-link-hover-color: unset;
}

.loader {
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0s 0s;
}

.loader.show {
	transition: opacity 0.25s 0.5s;
	opacity: 1;
}

@media (prefers-color-scheme: dark) {
	body {
		overflow-y: scroll;
	}

	:root {
		--bs-body-bg: #444;
		--bs-body-color: #eee;
		--bs-light-rgb: 70, 70, 70;
		--bs-border-color: #666;
	}

	.nav-tabs {
		--bs-nav-tabs-border-color: #999;
		--bs-nav-tabs-link-hover-border-color: #999 #999 #999;
		--bs-nav-tabs-link-active-bg: #444;
		--bs-nav-tabs-link-active-border-color: #999 #999 #444;

		.nav-link.active {
			color: white;
		}
	}

	.modal {
		--bs-modal-bg: #444;
	}

	::-webkit-scrollbar-thumb {
		background-color: #aaa6 !important;
	}

	a.btn {
		color: inherit !important;
	}

	.form-control,
	.form-select,
	.form-control:focus,
	.form-check-input,
	.form-range::-webkit-slider-runnable-track {
		background-color: var(--bs-gray-800);
		border-color: var(--bs-gray-600);
		color: white;
	}

	.form-select {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	}

	.card {
		--bs-card-bg: #555;
	}
}