
html,
.nav-container {
	/*
	Disable scroll bouncing for iOS 16+.
	There isn't much we can do for iOS < 16. There are some examples
	of using JavaScript to detect and block the default scrolling,
	but none of those work perfectly and can interfere normal scrolling
	of other elements.
	*/
	overscroll-behavior: none;
}

html,
body {
	font-size: 10pt;
	height: 100%;
	width: 100%;
}

html {
	// This disables "pull-to-refresh"
	overflow: hidden;
}

body {
	// This is required explicitly, or the scrolling may not work
	// for some Android devices when in landscape orientation.
	overflow-y: scroll !important;
}

html.iframe {
	height: unset;

	body {
		height: unset;
		overflow: hidden;
	}
}

[v-cloak] {
	display: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	/* hide spinner in Chrome, Safari, Edge, Opera */
	appearance: none;
	display: none;
}

body.split {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
	overflow: hidden;
}

input[type="number"] {
	/* hide spinner in Firefox */
	appearance: textfield;
}

input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

section {
	visibility: hidden;
	width: 100%;
	margin-right: -100%;

	&.show {
		visibility: visible;
	}
}

.btn {
	margin-bottom: 0.3rem;

	div > &:only-child,
	.input-group > & {
		margin-bottom: 0;
	}

	&.disabled[title] {
		// Workaround for displaying tooltip on disabled button
		pointer-events: unset;
	}
}

.btn-gap {
	margin: -0.15rem;

	.btn,
	.btn-group {
		margin: 0.15rem;
	}

	.btn-group .btn {
		margin: 0;
	}
}

.w-passive-100 {
	width: 0;
	min-width: 100%;
}

.nowrap {
	white-space: nowrap;
}

.square {
	border: none;
	outline: none;
	padding: 1px;
	text-align: center;
	font-family: Arial;
	overflow: hidden;
	background: none;
	color: black;
	width: 100%;
	height: 100%;
}

#FEN {
	text-overflow: ellipsis;
}

#CN,
#SN,
#TP {
	max-width: 100%;
}

#SN {
	position: absolute;
	top: 0;
	left: 0;
}

.ghost {
	display: none;
	position: absolute;
	opacity: 0.75;
	pointer-events: none;
	z-index: 1000;
}

#Squares {
	display: inline-grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border: 1px solid transparent;
	position: relative;
}

.play-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.4;

	.collapse & {
		display: none;
	}
}

#PV,
.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
}

.loader {
	transition: opacity 0s 0s;

	&.show {
		transition: opacity 0.25s 0.5s;
		opacity: 1;
	}
}

#Zone {
	margin-left: -1.5rem;
	margin-right: -1.5rem;

	> * {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
}

#DragZone {
	z-index: 1;
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	justify-content: center;
}

#TP,
#PV,
.nav-item,
.dropdown-item,
input[type="checkbox"],
label[for] {
	cursor: pointer;
}

.nav-tabs {
	--bs-nav-link-color: unset;
	--bs-nav-link-hover-color: unset;
}

.nav {
	width: 100%;
	min-width: max-content;
}

.nav-container {
	overflow: auto hidden;
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		/* WebKit */
		width: 0;
		height: 0;
	}
}

.step {
	vertical-align: unset;
	user-select: unset;
}

#Output {
	position: relative;
	max-height: 70vh;
	overflow: auto;
	font-family: monospace;
	white-space: pre;
}

@media (min-width: 400px) {
	.nav-link.active {
		.d-sm-none {
			margin-right: 0.5rem;
		}

		.d-sm-inline {
			display: inline !important;
		}
	}
}

///////////////////////////////////////////////////
/// Shadow
///////////////////////////////////////////////////

.shadow-black {
	text-shadow: 0 0 3px black;
}

.shadow-white {
	text-shadow: 0 0 3px white;
}

///////////////////////////////////////////////////
/// Thumbnail
///////////////////////////////////////////////////

.thumbnail-container {
	display: flex;
	flex-wrap: wrap;
	margin: -0.5rem;

	&.sorting .thumbnail-wrapper i {
		display: none;
	}
}

.thumbnail-wrapper {
	position: relative;

	> i {
		position: absolute;
		top: 0.75rem;
		right: 0.75rem;
		opacity: 0;
		font-size: 1.5rem;
		transition: opacity 0.2s;
		background: white;
		border-radius: 50%;
		cursor: pointer;
	}

	&:hover > i {
		opacity: 0.75;

		&:hover {
			opacity: 1;
		}
	}

	&.touch > i {
		opacity: 1 !important;
	}
}

.thumbnail-ghost {
	.thumbnail {
		height: 110px;
		width: 110px;
		top: -5px;
		left: -5px;
		transition: all 0.2s;
	}

	i {
		display: none;
	}
}

.thumbnail {
	width: 100px;
	height: 100px;
	margin: 0.5rem;
	cursor: pointer;
	object-fit: contain;
	position: relative;
	top: 0;
	left: 0;

	&.disabled {
		cursor: unset;
		filter: brightness(0.5);
	}
}

///////////////////////////////////////////////////
/// Color scheme
///////////////////////////////////////////////////

@media (prefers-color-scheme: light) {
	.btn-light.active {
		border-color: #ddd;
		background: #ddd;
	}

	.btn-light:hover {
		border-color: #eee;
		background: #eee;
	}

	.shadow-neutral {
		text-shadow: 0 0 3px white;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	.form-control:disabled {
		background-color: var(--bs-gray-800);
		opacity: 0.5;
	}

	.form-control::placeholder {
		color: #777 !important;
	}

	.shadow-neutral {
		text-shadow: 0 0 3px black;
	}

	:root {
		--bs-body-bg: #444;
		--bs-body-color: #eee;
		--bs-light-rgb: 70, 70, 70;
		--bs-border-color: #666;
		--bs-border-color-translucent: #777;
		--bs-tertiary-bg: #555;
	}

	.table {
		--bs-table-color: white;
	}

	.nav-tabs {
		--bs-nav-tabs-border-color: #999;
		--bs-nav-tabs-link-active-color: white;
		--bs-nav-tabs-link-hover-border-color: #999 #999 #999;
		--bs-nav-tabs-link-active-bg: #444;
		--bs-nav-tabs-link-active-border-color: #999 #999 #444;
	}

	.modal {
		--bs-modal-bg: #444;
	}

	::-webkit-scrollbar-thumb {
		background-color: #aaa6 !important;
	}

	.step {
		&.active {
			color: yellow;
		}
	}

	a.btn {
		color: inherit !important;
	}

	.play-mask {
		opacity: 0.5;
	}

	.form-control,
	.form-select,
	.form-control:focus,
	.form-check-input,
	.form-range::-webkit-slider-runnable-track {
		background-color: var(--bs-gray-800);
		border-color: var(--bs-gray-600);
		color: white;
	}

	.form-switch .form-check-input {
		--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e");
	}

	.form-select {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	}

	.card {
		--bs-card-bg: #555;
	}
}
